<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PDFReporterTestSuite" verbose="1">
    <test name="BasicTest">
        <groups>
            <define name="root">
                <include name="post-job" />
                <include name="metrics" />
                <include name="report" />
            </define>
            <run>
                <include name="root" />
            </run>
        </groups>
        <packages>
            <package name="org.sonar.report.pdf.test"></package>
        </packages>
    </test>
</suite>